extends ../shared/_layout

block content
  div.well#organization-details
    div.panel.panel-primary
      div.panel-heading
        h1= result.organization.name
        h1= result.organization.owner
      
      if result.userRole
        div.panel-body
          if result.userRole === 'owner'
            div.well
              ul.list-group
                each owner in result.organization.owners
                  li.list-group-item
                    p= owner.username

          if result.userRole === 'manager' || result.userRole === 'owner'
            div.well
              ul.list-group
                each manager in result.organization.managers
                  li.list-group-item
                    p= manager.username

          if result.userRole === 'manager' || result.userRole === 'owner' || result.userRole === 'contributor'
            div.well
              ul.list-group
                each contributor in result.organization.contributors
                  li.list-group-item
                    p= contributor.username
      
      div.panel-footer
        if !result.userRole
          a.btn.btn-success(href= "/organizations/" + result.organization._id + "/apply")
            p Apply to this organization
