extends ../shared/_layout

block stylesheets
  link(rel="stylesheet" href="/stylesheets/profile.css")
  link(rel="stylesheet" href="/stylesheets/progress-bar.css")

block content
  #profile
    if isAuthorized
      h2.capitalize My profile
    else
      h2.capitalize #{result.userData.username}'s Profile
    .profile-header.profile-container
      .profile-header-top
        h3.capitalize #{result.userData.firstName} #{result.userData.lastName}
          br
          small.specialty.capitalize #{result.userData.specialization}
        img.img-rounded.img-responsive(src=result.userData.image)
      .rates
        .c100.dark.small(class="p" + result.userData.successRate)
          span #{result.userData.successRate}%
          .slice
            .bar
            .fill
      .overview
        h3.capitalize.container-header Overview
        span #{result.userData.description}
    .portfolio.profile-container
      h3.capitalize.container-header Project History
      ul.portfolio
        each project in result.userData.projects
          li.portfolio-item
            h4= project.name
            span= project.description
            h5 Tasks
            ul.tasks
              each task in project.tasks
                li.task= task.description
        li.add-item
    .skills-container.profile-container
      h3.capitalize.container-header Skills &amp; Endorsements
      ul.skills
        each skill in result.userData.skills
          li.skill
            span.endorsement-points 3
            span.skill-name= skill
        if isAuthorized
          li.add: a.btn.btn-default.btn.uppercase.add-skill-btn Add Skill
    if isAuthorized
      a.btn.btn-default.uppercase.edit-profile-btn Edit Profile

block javascript
  script(src="/javascripts/profile.js")